body, html
{
    background-color:#FAFAFA;
}
.navbar-header
{
    color:#fff;
    padding: 20px;
    font-family: 'Open Sans', "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.navbar-default
{
   background-color: #4C4C78;
   height: 80px;
   border-bottom-color: #fff;
   border-radius: 8px;

}
.btn-default
{
    margin-left: 180px;
}
.author
{
    font-family: 'Open Sans', "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    margin-left: 15%;
}
.footer-center
{
    margin-left: 20%;
}
#right
{
    margin-left: 18%;
}
a
{
    color: #333333;
}
a:hover
{
    text-decoration: none;
}
.content-view
{
    background-color: #FAFAFA;
}
.timeline-maxwidth
{
    max-width: 1000px;
}
.project-icon,.work-icon{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
.year-Now{
    background-color: #4BAE4F !important;
}
.year-2015{
    background-color: #3E50B4 !important;
}
.year-2014{
    background-color: #02A8F3 !important;
}
.year-2013{
    background-color: #F34235 !important;
}
.year-2012{
    background-color: #5F7C8A !important;
}
.year-2011{
    background-color: #FEC006 !important;
}
.year-2010{
    background-color: #FEC006 !important;
}
.year-2008{
    background-color: #F34235 !important;
}
#timeline
{
    text-align: center;
}
@media only screen and (max-width:1260px)
{
    .navbar-default
    {
        height: 150px;
    }
    .btn-default
    {
        margin:8px 8px 8px 8px;
        padding: 10px;
    }
    .author
    {
        position: absolute;
        margin-top: -20px;
        margin-left: 35px
    }
    .footer-center
    {
        margin-left: 110px;
    }
    .right
    {
        line-height: 2em;
        margin-left: -90px;
        position: absolute;
        margin-top: 14px;
    }
    
}