<ng-include src="'view/loading.html'"></ng-include>

<md-card class="max-content-width" ng-show="ready">
    <div layout="column" layout-padding layout-align="center center">
        <p><img src="/img/mohit.jpg" id="profile-img"></p>
        <p id="profile-name">{{ profile.name }}<br></p>
        <div layout="row" layout-align="center center" layout-padding>
            <a ng-repeat="link in profile.links"
               class="fa fa-lg fa-fw profile-icon {{ link.icon }}" ng-href="{{ link.url }}"  id="icon-color"></a>
        </div>
    </div>
</md-card>
<md-card-content layout-align="center center" layout="column" class="middle" ng-show="ready">
    <i class="fa fa-globe"></i> <b>Software Developer</b>
    <p>I am Open source enthusiast who like exploring various repositories to learn new things.I have been also <b>Google Summer of Code 2016</b> Student under Mifos. For the love towards open source, I am also mentoring <b>Google Code-In</b> this year.</p>
</md-card-content>
<md-card-content layout="column" class="middle" ng-show="ready">
     <div class="resume"><i class="fa fa-file-pdf-o"></i> <a href="#" target="_blank">Resume</a></div>
    <br>
    <div class="skills"><i class="fa fa-briefcase"></i> Skills</div>
    <table layout-align="center center">
        <tr ng-repeat="skillset in profile.skillsets" class="bordered">
            <td><md-button class="md-raised md-primary"><i class="fa {{ skillset.icon }}"></i> {{ skillset.type }}</md-button></td>
            <td>
                <span ng-repeat="skill in skillset.skills" class="skill-set"> {{ skill }}</span>
            </td>
        </tr>
    </table>
</md-card-content>
