<div class="container">
    <ul class="timeline">
        <li ng-repeat="study in studies" class="timeline-{{study.timeline }}">
          <div class="timeline-badge">{{study.year}}</div>
          <div class="timeline-panel">
            <div class="timeline-body">
                <ul>
                <li>{{ study.degree }}</li>
                <li>{{ study.school }}</li> 
                <li>{{ study.place }}</li>
                <li>{{ study.duration }}</li>    
                </ul>
            </div>
          </div>
        </li>
    </ul>
</div>